<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<persistence-unit name="wetrip">
		<class>com.viptrip.wetrip.entity.Userbinding</class>
		<class>com.viptrip.wetrip.entity.AuditableEntity</class>
		<class>com.viptrip.wetrip.entity.Platform</class>
		<class>com.viptrip.wetrip.entity.PlatformUserMap</class>
		<class>com.viptrip.wetrip.entity.PlatformUserMapKeys</class>
		<class>com.viptrip.wetrip.entity.TAcClass</class>
		<class>com.viptrip.wetrip.entity.TAcInsurance</class>
		<class>com.viptrip.wetrip.entity.TAcOrg</class>
		<class>com.viptrip.wetrip.entity.TAcUser</class>
		<class>com.viptrip.wetrip.entity.TCangwei</class>
	</persistence-unit>
</persistence>
