body {
	width: 100%;
	margin: auto;
	position: relative;
	font-family: "Microsoft YaHei";
}

.bo_dy {
	background-color: #f9f9f9;
}

.clear::after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

.clear {
	zoom: 1;
}

.ban_top {
	padding: 10px 15px 0px 6px;
	background-color: #00b0ec;
}

.ban_cen {
	width: 100%;
	display: inline-block;
	height: 40px;
	position: relative;
	overflow: hidden;
}

.gd_css {
	position: fixed;
	z-index: 999;
	left: 0px;
	top: 0px;
	width: 100%;
}

.gengduo {
	color: #fff;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 80;
}

.tong_yong {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #999999;
	padding-top: 15px;
}


/*----------------------------------搜索---------------------------------*/

.sousuo_sr {
	padding: 13px 15px;
	margin: 10px 0px;
	padding-bottom: 0px;
}

.sousuo_bg {
	width: 100%;
	height: 40px;
	background-color: #fff;
	position: relative;
	border-radius: 5px;
	border: 1px solid #d1d1d1;
}

.sousuo_spa {
	width: 27px;
	height: 27px;
	display: block;
	position: absolute;
	top: 7px;
	left: 13.5%;
	z-index: 50;
}

.sousuo_bb {
	width: 27px;
	height: 27px;
	display: block;
	position: absolute;
	top: 7px;
	left: 13.5%;
	z-index: 50;
}

.sousuo_inp {
	width: 82%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #c2c2c2;
	position: absolute;
	left: 40px;
	top: 5px;
	outline: medium none;
	border: 0px none;
	background-color: #fff;
}


/*----------------------------------搜索end---------------------------------*/


/*----------------------------------全部国家---------------------------------*/

.quanbu {
	width: 100%;
	padding-bottom: 10px;
}

.quan_bu {
	padding: 0px 15px;
	background-color: #FFF;
	margin-bottom: 15px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.quan_bu_h3 {
	width: 100%;
	padding: 14px 0px;
}

.h3_sp_le {
	font-size: 16px;
	color: #666666;
	float: left;
}

.h3_sp_ri {
	font-size: 14px;
	color: #999;
	float: right;
}

.quan_bu ul {
	width: 100%;
}

.quan_bu ul li {
	width: 32%;
	float: left;
	margin-left: 2%;
	font-size: 14px;
	color: #666666;
	text-align: center;
	margin-bottom: 10px;
}

.quan_bu ul li.li_first:nth-of-type(1),.quan_bu ul li.li_first:nth-of-type(4),.quan_bu ul li.li_first:nth-of-type(7),.quan_bu ul li.li_first:nth-of-type(10),.quan_bu ul li.li_first:nth-of-type(13),.quan_bu ul li.li_first:nth-of-type(16) {
	margin-left: 0px;
}

.quan_bu_sp {
	display: block;
	padding: 5px 3px;
	background-color: #FFF;
	border: 1px solid #d1d1d1;
}

.zi_mu {
	padding: 10px 0px;
	padding-left: 15px;
	background-color: #fff;
	font-size: 18px;
	position: relative;
}

.zi_mu_sa {
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #d1d1d1;
}

.zi_mu_fen {
	padding-left: 40px;
	background-color: #FFF;
}

.zi_mu_fen span {
	border-bottom: 1px solid #d1d1d1;
	font-size: 16px;
	padding: 15px 0;
	width: 100%;
	display: block;
}

.a_b_z {
	width: 10px;
	line-height: 15px;
	font-size: 10px;
	color: #e9e9e9;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 300;
	background-color: #FFF;
}

.a_b_z span {
	display: block;
	width: 10px;
	text-align: center;
}


/*------------------------------全部国家-----------------------------------*/

.qbgj {
	/* width: 120px; */
	position: absolute;
	z-index: 100;
	left: 50%;
	margin-left: -50px;
	top: 0px;
	border: 1px solid #d0effa;
	border-radius: 5px;
}

.qbgj_le {
	width: 60px;
	padding: 4px 0px;
	float: left;
	font-size: 18px;
	text-align: center;
	border-radius: 3px 0px 0px 3px;
	color: #fff;
}

.qbgj_ri {
	color: #fff;
	width: 60px;
	padding: 4px 0px;
	float: left;
	font-size: 18px;
	text-align: center;
	border-radius: 0px 3px 3px 0px;
}

.le_bg {
	color: #00b0ec;
	background-color: #d0effa;
}

.displayNONE {
	display: none;
}

.img_down {
	border-bottom: 1px solid #00b0ec;
	border-right: 1px solid #00b0ec;
	box-sizing: border-box;
	display: inline-block;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	position: absolute;
	top: 15px;
	right: 15px;
}

.img_top {
	border-top: 1px solid #00b0ec;
	border-left: 1px solid #00b0ec;
	box-sizing: border-box;
	display: inline-block;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	position: absolute;
	top: 22px;
	right: 15px;
}

.liandong a {
	color: #00b0ec;
}

.guncss {
	z-index: 101;
	bottom: 15px;
}

.guncss ul {
	width: 100%;
	margin: 15px auto;
	bottom: 0px;
	z-index: 103;
	position: absolute;
	text-align: center;
}

.guncss ul li {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 15px;
	background-color: #ccc;
}