<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log.base" value="D:/logs/wetrip" />
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<!-- <property name="LOG_HOME" value="d:/log" /> -->
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志输出编码 -->
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
	    	<pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{26} %msg%n</pattern>
	    </encoder>
	</appender>
	<!-- 按照每天生成日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/log_all_info.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${log.base}/log_all_info-%d{yyyy-MM-dd}-%i.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>2MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
	    	<pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{26} %msg%n</pattern>
	    </encoder>
		<!-- <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> 
			<MaxFileSize>5MB</MaxFileSize> </triggeringPolicy> -->
	</appender>


	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	<logger name="org.apache.ftpserver">
		<level value="WARN" />
	</logger>
	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="ERROR" />
	</logger>
	<logger name="org.hibernate.cache">
		<level value="INFO" />
	</logger>
	<logger name="org.safehaus.asyncweb">
		<level value="INFO" />
	</logger>
	<logger name="org.logicalcobwebs.proxool">
		<level value="DEBUG" />
	</logger>
	
	

	<!-- 日志输出级别 -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>